.accordion-section {
    display: flex;
    flex-direction: column;
}

.accordion-title {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
    background-color: #ccc;
}

.accordion-icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate {
    transform: rotate(90deg);
}

.accordion-content {
    background-color: #eeeeee;
    overflow: hidden;
    transition: max-height 0.6s ease;
    width: 600px;
    text-align: justify;
    margin-left: calc((100% - 600px)/2);
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(57, 67, 77, 0.3);
}

.accordion-text {
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}
